<div class="content">
    <app-titulo-pagina titulo="Adicionar Pessoa" />

    <div class="mx-3 mb-3">
        <p-stepper [value]="1" class="basis-[50rem]">
            <p-step-list>
                <p-step [value]="1">Dados Cadastrais</p-step>
                <p-step [value]="2">Dados de Contato</p-step>
                <p-step [value]="3">Dados de Endereço</p-step>
            </p-step-list>
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-column h-12rem">
                            <app-dados-cadastrais [idPessoa]="idPessoa" (salvouDadosCadastrais)="activateCallback(2)"></app-dados-cadastrais>
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-column h-12rem">
                            <app-dados-contato [idPessoa]="idPessoa" (clicouBtnAnterior)="activateCallback(1)" (salvouDadosDeContato)="activateCallback(3)"></app-dados-contato>
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-column h-12rem">
                            <app-dados-endereco [idPessoa]="idPessoa" (clicouBtnAnterior)="activateCallback(2)"></app-dados-endereco>
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </div>
</div>
