<div class="form-dados-contato-content">
    <form [formGroup]="formDadosContato" (ngSubmit)="salvarDadosContato()">
        <div class="flex flex-col md:flex-row gap-8 w-full">
            <div class="w-full">
                <div class="card flex flex-col gap-4">
                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-12 md:col-span-6 flex flex-col gap-2">
                            <p-floatLabel class="w-full">
                                <input class="w-full" pInputText id="email-form-dados-contato" formControlName="email" />
                                <label for="email">E-mail *</label>
                            </p-floatLabel>
                            <app-mensagem-alerta campo="email" mensagem="Este campo é obrigatório." tipoAlerta="required" [formulario]="formDadosContato" />
                            <app-mensagem-alerta campo="email" mensagem="Insira um e-mail válido." tipoAlerta="emailInvalido" [formulario]="formDadosContato" />
                        </div>
                    </div>

                    <div formArrayName="telefones" class="flex flex-col gap-4">
                        <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i" class="grid grid-cols-12 gap-4 items-center">
                            <div class="col-span-12 md:col-span-6 flex flex-col gap-2">
                                <p-floatLabel class="w-full">
                                    <p-inputMask [style]="{ width: '100%' }" mask="(99) 99999-9999" id="telefone-{{ i }}" formControlName="numero" class="w-full"></p-inputMask>
                                    <label for="telefone-{{ i }}">Telefone {{ i + 1 }}</label>
                                </p-floatLabel>
                                <app-mensagem-alerta campo="numero" mensagem="Insira um telefone válido." tipoAlerta="telefoneInvalido" [formulario]="getTelefoneFormGroup(i)" />
                            </div>

                            <div class="col-span-12 md:col-span-1 flex items-center gap-2">
                                <button type="button" class="btn p-0 text-red-600" *ngIf="telefones.length > 1" (click)="removerTelefone(i)" pTooltip="Excluir telefone" tooltipPosition="top">
                                    <i class="pi pi-trash"></i>
                                </button>
                                <button type="button" class="btn p-0 text-green-600" *ngIf="i === telefones.length - 1" (click)="adicionarTelefone()" pTooltip="Adicionar telefone" tooltipPosition="top">
                                    <i class="pi pi-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="flex gap-4">
                        <button (click)="clicouBtnAnterior.emit(true)" class="btn btn-outline-primary"><i class="pi pi-arrow-left mr-2"></i> Anterior</button>
                        <button type="submit" class="btn btn-primary">Próximo <i class="pi pi-arrow-right ml-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
